@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat";
  src: url("../../public/fonts/Montserrat.ttf");
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ececec;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #012255;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #023075;
}
